* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
a {
    float: right;
    padding: 14px 16px;
    text-decoration: none;
}

h2 {
    display: inline-block;
    position: absolute;
    left: 200px; 
    width: 20%;
}

h1{
    display: inline-block;
    position: absolute;
    right: 200px;
}
  
  
  header {
    padding: 12% 0;
    margin-bottom: 100px;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

  .aboutMe{
    padding-right: 500px;
    padding-left: 500px;
  }

  button {
    background-color:grey; /* Green */
    border: none;
    color: #444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .links{
      margin: 50px;
      text-align: left;
      padding-left: 100px;
      padding-right: 100px;
  }
